
body {
font-family: Arial, sans-serif;
background: #ofofof;
padding: 20px;
  .video-box 
  {
background: #a62121;
padding: 10px;
Matematice-Ano D Ma
border-radius: 6px;
 max-width: 560px;
Ellegua Poctaplesa 27 Ano
margin: auto;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
Bitoege Ans Mathe
video {
width: 100%;
Ti 211 Aam D Matina M
border-radius: 4px;
}
H.info {
margin-top: 8px;
}
.info h3 {
font-size: 16px;
  margin: 4px 0;
FiltrodTim - Ano Di Mettma
color: #002f6c;

}
